.header {
    width: auto;
    font-size: 100px;
    color: rgb(255, 255, 255);
    -unity-font: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=eb550c1daa1714c9eaa4f3ce41d55aea&type=3#NotInter-Regular");
    -unity-font-definition: initial;
    -unity-text-align: upper-center;
    translate: 0 50px;
    background-image: none;
}

.button {
    font-size: 30px;
    width: 220px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: stretch;
    justify-content: flex-start;
    align-self: center;
    transition-duration: 0.3s;
    transform-origin: center;
    translate: 0 50px;
}

.button:hover {
    transition-duration: 0s;
    color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(233, 52, 52);
    scale: 1.1 1.1;
    background-color: rgb(226, 86, 65);
}
